h1{
  font-family: sans-serif;
  margin: 100px auto;
  text-align: center;
  color:black;
  font-size: 40px;
  max-width: 900px;
  position: relative;
  &:before,&:after{
  content:"";
  display:block;
  width:50%;
  height:5px;
  background-color:#A9A9A9	;
  position:absolute;
  top:50%;
}
  &:before{
    right: 630px;
  }
  &:after{
    left: 630px;    
  }
}
  
